h1, h2 {
	font-family: ruluko, sans-serif;
	text-transform: uppercase;

}

h1 {
	font-size: 50px;
}
h2 {
	padding-top: 20px;
}

body {
	font-size: 18px;
	font-family: neuton, serif;
	background: url("../images/background.png") repeat 0 0 #FAFAFA;
}




h3 {
	font-family: neuton, serif;
	margin-bottom: -3px;
	font-weight: bold;
	font-size: 18px;
}

#pdf {
	margin-top: 50px;
	width: 80%;
}

.pdf {
	float: right;
}

#cv {
	background: #fff;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 100px;
	padding-bottom: 20px;
	width: 80%;
}

a {
	color: #212163;
}

a:hover {
	color: #212163;
	text-decoration: underline;
}

.cv-img  img{
	top: 25px;
	width: 200px;
	position: absolute;
	right: 0px;
	
}

td {
	width: 100px;
	padding-right: 80px;
}
.lan {
	font-weight:bold;
	padding-right: 0px;
}

.sec{
	width: 800px;
}

.first{
	width: 250px;
	font-weight:bold;
	padding-right: 20px;
}