h1, h2, h3 {
	font-family: ruluko, sans-serif;
}

h1, h2 {
		text-transform: uppercase;
}

body {
	font-size: 20px;
	font-family: neuton, serif;
	background: url("../images/background.png") repeat 0 0 #FAFAFA;
}

a {
	color: #212163;
}

a:hover {
	color: #212163;
	text-decoration: underline;
}

.logo {
	padding-top: 50px;
	padding-bottom: 70px;
}

.logo a {
	/*margin-top: 50px;*/
	font-family: fredericka-the-great, sans-serif;
	/*font-family: chelsea-market, sans-serif;*/
	/*font-family: codystar, sans-serif;*/
	/*font-family: cabin-sketch, sans-serif;*/
	/*font-family: love-ya-like-a-sister, fantasy;*/
	/*font-family: amatic-sc, sans-serif;*/
	text-transform:uppercase;
	color: #87e2bd;
	font-size: 60px;
	
}

.logo a span {
	color: #000;
}

.logo a:hover {
	text-decoration: none;
	opacity: 0.8;
}

:focus {
	outline: 0;
}

.first-row {
	margin-bottom: 20px;
}

.project {
  position:relative; 
  display:inline-block; 
  width: 320px; 
  overflow: hidden;
  height: 240px;
  border:5px solid #fff; 
  box-shadow:0 0 5px rgba(0,0,0,.35);
  padding-left: 0px;
  padding-right: 0px;
}

.project-name {
  position:absolute;
  height:0; 
  width:320px;
  background:rgba(0,0,0,.45); 
  overflow:hidden;
  bottom:0px; 
  padding: 0 10px;
  line-height:50px;
  color:#fff;
  transition:height 0.5s;
}

.project img {
	display: block;
	-webkit-transition: all 0.5s;
}

.project:hover div{
  height:50px;
}

.project:hover img {
	-webkit-filter: none;
}

.grayscale {-webkit-filter: grayscale(100%);}

@media screen and (min-width: 768px) {
	#projects .modal-dialog {
		width: 740px;
	}
}

#projects .close {
	font-size: 40px;
	margin-top: -25px;
}

#projects .modal-header {
	border-bottom: 0;
}

.details .row {
	background: #fff;

}

.details h3 {
	font-family: neuton, serif;
	font-size: 22px;
	margin-top: -7px;
	font-style: italic;
	margin-bottom: 20px;
}

.details img {
  display:inline-block; 
  overflow: hidden;
  margin-top: 20px;
	float: right;
	padding: 10px;
	width: 320px;
}

#about-wrapper {
	background: #87e2bd;
	border-top: 5px solid #f0f0f0;
	border-bottom: 5px solid #f0f0f0;
	margin-top: 50px;
}

#about {
	padding: 30px;
}

.about-image {
	padding: 10px;
}

.about-image img {
	width: 250px;
	border: 5px solid white;
}

.about-contact h3 {
	margin-top: 0px;
}


