h1, h2, h3 {
	font-family: overlock-sc, sans-serif;
}

body {
	font-size: 20px;
	font-family: neuton, serif;
	background: url("../images/background.png") repeat 0 0 #FAFAFA;
}

#logo a {
	float: left;
	width: 484px;
	height: 92px;
	background-image: url("../images/logo.png");
	margin-top: 50px;
	text-indent: -9999px;
}

:focus {
	outline: 0;
}

/*GALLERY WRAP*/
li {
  float:left; 
  position:relative; 
  display:inline-block; 
  width:290px; 
  height:290px;
  margin:10px; 
  border:5px solid #fff; 
  box-shadow:0 0 5px rgba(0,0,0,.35);
}
li div {
  position:absolute;
  height:0; 
  width:280px;
  background:rgba(0,0,0,.45); 
  overflow:hidden;
  bottom:0px; 
  padding: 0 10px;
  line-height:50px;
  color:#fff;
  transition:height 0.5s;
}

#gallery a img {
	display: block;
	-webkit-transition: all 0.5s;
}

/*Hover effects*/
li:hover div {
  height:50px; /*project text*/
}

#gallery a img:hover {
	-webkit-filter: none; /*Returns to default state*/
}

/*Filter styles*/
.grayscale {-webkit-filter: grayscale(100%);}

/*ABOUT*/
#about-wrapper {
	background: #87e2bd;
	border-top: 5px solid #f0f0f0;
	border-bottom: 5px solid #f0f0f0;
	margin-top: 50px;
}

#about {
	padding: 30px;
}

.about-image {
/*	float: left;*/
	padding: 10px;
}

.about-image img {
	width: 250px;
	border: 5px solid white;
}

.about-contact h3 {
	margin-top: 0px;
}
